[submodule "libs/curl"]
	path = libs/curl
	url = https://github.com/curl/curl.git
[submodule "libs/dirent"]
	path = libs/dirent
	url = https://github.com/tronkko/dirent.git
[submodule "libs/wxWidgets"]
	path = libs/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
